# Dependencies
node_modules/

# Environment variables
.env
.env.local
.env.*.local

# Deployment platform cache/config
.vercel
.netlify

# Build output
_site/
.next/
dist/
build/
out/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo

# Misc
*.zip
*.rar
*.tar.gz
*.7z
scratch/
Resources/
resources/

.vercel
